<!DOCTYPE html>
<html lang="en">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<article>
    <h1>This is a Passwrod Generator page</h1>
    <p>Posted by Shashank Pathak</p>
    <p>Some additional information here</p>
    <p>Lorem Ipsum dolor set amet....</p>
</article>
<br>
<a href="{% url 'home' %}"> Go to Home Page</a>
</body>
</html>